<div class="container">
  Using API
  <fieldset>
    <form action="/api" method="post">
      <input type="text" name="city" id="city" placeholder="Enter a City">
      <input type="submit" name="api" value="Get Weather">
    </form>
  </fieldset>
</div>
<br>
<!-- <div class="container">
  Using Uploaded Files
  <fieldset>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="sampleFile">
      <input type="submit" name="file" value="Upload">
    </form>
  </fieldset>
</div> -->
