<div class="container">
  <h2 class="h4">Using Files</h2>
  <fieldset>
    <form action="/drag" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <input type="file" name="data" />
      </div>
      <button type="submit" name="drag" class="btn btn-primary">Upload</button>
    </form>
  </fieldset>
</div>
<br>
