<div class="container">
  <h2 class="h4">Using API</h2>
  <fieldset>
    <form action="/api" method="post">
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" name="city" id="city" placeholder="Dubai">
      </div>
      <button type="submit" name="api" class="btn btn-primary">Get Data</button>
    </form>
  </fieldset>
</div>
<br>
