<script type="text/javascript">
  $(function() {
    var derivers = $.pivotUtilities.derivers;

    var renderers = $.extend(
      $.pivotUtilities.renderers,
      $.pivotUtilities.c3_renderers,
      $.pivotUtilities.d3_renderers,
      $.pivotUtilities.export_renderers
    );

    $.getJSON("mps.json", function(mps) {
      $("#output").pivotUI(mps, {
        renderers: renderers,
        cols: [""],
        rows: [""],
        rendererName: "Table Barchart"
      });
    });
  });
</script>

<div class="container" id="output"></div>
<br>
